body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body {
    height: 100%;
}

.bm-item-list{
    overflow: hidden;
}

.blank{
    height: 100px;
    /*background-color: #dadbdb;*/
}

.bm-burger-bars {
    background: #dfe2ec;
}